@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=News+Cycle:400,700');
@import url('https://fonts.googleapis.com/css?family=Neuton:200,300,400');

// Set your brand colors
$green: #1a936f;
$mint: #88BBA1;
$mint-lighter: #CEEDDB;
$gray: #36413E;
$black: #000000;

// Update Bulma's global variables
$family-sans-serif: "Neuton", serif;
$grey-dark: $black;
$primary: $green;
$link: $black;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $mint-lighter;
$navbar-background-color: $mint-lighter;
$footer-background-color: $mint-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/components/_all.sass";
@import "../../node_modules/bulma/sass/elements/_all.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/grid/_all.sass";
@import "../../node_modules/bulma/sass/helpers/_all.sass";
@import "../../node_modules/bulma/sass/layout/_all.sass";
@import "../../node_modules/bulma/sass/utilities/_all.sass";