:root {
  --green: #396b51;
  --mint: #88bba1;
  --mint-lighter: #ceeddb;
  --white: #ffffff;
  --gray: #36413e;
  --black: #000000;
}

/* Global elements */

.nav-links {
  font-size: 1.5rem;
  color: var(--black) !important;
  width: 5.5rem;
  display: flex;
  justify-content: center;
}

.nav-links:hover {
  color: var(--gray) !important;
  background-color: var(--gray) !important;
}

.general-container {
  padding-top: 3rem;
}

.title,
.small-title,
.header-1,
.header-2 {
  font-family: "News Cycle", sans-serif;
  text-transform: uppercase;
}

.title {
  font-weight: 300;
}

.small-title {
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--gray);
  margin-bottom: 1rem;
}

.header-1 {
  font-size: 4rem;
}

.header-2 {
  font-size: 3rem;
}

.large-text {
  font-size: 2rem;
  line-height: 2rem;
  text-align: left;
}

p {
  text-align: justify;
}

.regular-text {
  font-size: 1.2rem;
}

/* Landing Page */

.overlay-container {
  position: relative;
  margin-bottom: 1rem;
}

.project-thumbnail {
  display: block;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: var(--white);
}

.overlay-container:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.home-second-column {
  padding-left: 7rem;
}

/* About Page */

.about-first-column {
  padding-top: 20%;
}

.about-second-column {
  padding-top: 10%;
}

.about-second-column img {
  position: fixed;
  width: 30%;
}

/* Work Page */

/* Blog Page */

.blog-list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 32%;
  margin-bottom: 1rem;
}

.card-button {
  border: solid var(--black) 1.6px;
  border-radius: 0;
  font-family: "News Cycle", sans-serif;
  font-weight: 400;
  letter-spacing: 1.1px;
}

.card-button:hover {
  border: solid var(--white) 2px;
  background-color: var(--black);
  text-shadow: none;
}

.date {
  font-family: "News Cycle", sans-serif;
}

.blog-entry-title {
  margin-bottom: 1rem;
}

.blog-text {
  margin-top: 1rem;
}

/* Tablet View */

@media screen and (max-width: 769px) {
  .header-1 {
    font-size: 3rem;
  }

  .header-2 {
    font-size: 2rem;
  }

  .about-first-column {
    padding-top: 60%;
  }

  .about-second-column img {
    position: absolute;
    width: 90%;
    top: 5%;
    left: 5%;
  }

  .section {
    padding: 2rem 2.5rem;
  }

  .project-column {
    width: 66%;
    margin: auto;
    padding: 0 0.75rem;
  }

  .card {
    width: 48%;
    margin-bottom: 1rem;
  }
}

/* Mobile View */

@media screen and (max-width: 426px) {
  .about-first-column {
    padding-top: 70%;
  }

  .section {
    padding: 2rem 1.5rem;
  }

  .project-column {
    width: 90%;
    margin: auto;
  }

  .card {
    width: 100%;
    margin-bottom: 1rem;
  }
}
